:host {
    display: flex;
    gap: 16px;
    justify-content: center;
}

:host.milestone--alt {
    flex-direction: row-reverse;
}

.middle {
    margin: 16px;
    align-self: center;
}

.left,
.right {
    width: 300px;
}

.left__year,
.right__headline {
    font-size: 24px;
    margin-bottom: 8px;
}

.left {
    .left__year {
        font-family: Georgia, serif;
        font-style: italic;
    }

    .left__image {
        width: 100%;
    }
}