:host {

    .quotebook__banner {
        background-image: url(/assets/images/quotes-banner.jpg);
    }

    .qoutebook__container {
        display: flex;
        margin: 16px;
        gap: 16px;
    }

}

:host.viewsize--small {
    .qoutebook__container {
        flex-direction: column;

    }

}