@mixin frosted-glass {
    backdrop-filter: blur(4px);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}

:host {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 16px;
    background-image: url('/assets/images/coming-soon.jpg');
    background-size: cover;
    background-position: center right;
    color: white;

    .upcoming {
        height: 400px;
        width: 50%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include frosted-glass;

        .upcoming__h1 {
            font-size: 60px;
            font-weight: bold;
        }

        .upcoming__h2 {
            font-size: 32px;
            padding-top: 8px;
        }

        .upcoming__notify {
            margin-left: 8px;
            margin-top: 40px;
        }

        .socialhub {
            margin-top: 40px;
            width: 180px;
        }

    }
}

:host.viewsize--small {
    background-image: url('/assets/images/coming-soon-square.jpg');
    background-position: top center;

    .upcoming {
        backdrop-filter: none;
        width: 100%;
        background-color: transparent;
        align-items: center;

        .upcoming__h1 {
            padding-bottom: 120px;
        }

        .upcoming__h2 {
            text-align: center;
        }
    }

}