<div class="upcoming">
    <div class="upcoming__h1">Stay Tuned</div>
    <div class="upcoming__h2">Something Exciting is on the Way</div>
    <div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="example@email.com">
        </mat-form-field>
        <button mat-raised-button class="upcoming__notify" color="primary">Notify Me!</button>
    </div>
    <div>
        <a mat-icon-button href="mailto:mtg-chronicle@googlegroups.com" class="upcoming__social">
            <mat-icon>mail</mat-icon>
        </a>
        <a mat-icon-button href="https://github.com/mtg-chronicle" target="_blank" class="upcoming__social">
            <img class="github__logo" src="assets/images/octocat-light_32px.png" />
        </a>
    </div>
</div>