.quote__card {
    min-width: 350px;

    .quote__picture {
        position: relative;
        margin-bottom: 0;

        .quote__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Brush Script MT', cursive;

            .quote__statement {
                position: relative;
                font-size: 4vw;
                text-align: center;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0.2);
                color: white;
            }

            .quote__statement.long {
                font-size: 3vw;
            }

        }


    }

    .quote__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;

        .quote__dash {
            display: inline-block;
            width: 4vw;
            height: 0px;
            line-height: 0px;
            border-width: 1px;
            border: 1px solid black;
        }

        .quote__author {
            font-size: 3vw;
            padding: 0px 8px;
            font-family: 'Brush Script MT', cursive;
            text-align: center;

        }
    }
}


:host.viewsize--small {
    .quote__card {
        min-width: inherit;
        .quote__overlay {
            .quote__statement {
                font-size: 7svw;
            }

            .quote__statement.long {
                font-size: 7svw;
            }

        }

        .quote__content {
            .quote__author {
                font-size: 5vw;
            }
        }
    }
}