<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">MTG CHRONICLE</button>
    <span class="toolbar__spacer"></span>
    <button mat-button routerLink="/stories">Milestones</button>
    <button mat-button routerLink="/quotes">Famous Quotes</button>
    <button mat-button routerLink="/gallery">Gallery</button>
    <button mat-button>About Us</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>






<footer class="footer">
  <div class="footer__element footer__brand">
    <div class="footer__title">MTG Chronicle</div>
    <div class="footer__content footer__bio">MTG is a leading technology company that provides cutting-edge solutions
      and consultancy services to businesses and organizations worldwide. With a history of innovation spanning 30
      years, we
      have been at the forefront of the industry and have a team of over 5,000 experts who help our clients achieve
      their
      goals and stay ahead of the competition. We offer a comprehensive range of services, including ERP, cloud
      services, analytics, blockchain and AI, and work with clients across healthcare, finance, transportation and
      manufacturing industries.</div>
  </div>
  <div class=" footer__element footer__nav">
    <div class="footer__title">Navigation</div>
    <ul class="footer__content footer__nav_list">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/stories">Milestones</a></li>
      <li><a routerLink="/quotes">Famous Quotes</a></li>
      <li><a routerLink="/gallery">Gallery</a></li>
      <li><a routerLink="/about">About Us</a></li>
    </ul>
  </div>
  <div class="footer__element footer__contact">
    <div class="footer__title">Follow Us</div>
    <mtg-social-hub class="footer__content footer_social"></mtg-social-hub>
  </div>
  <div class="footer__element footer__linebreak"></div>
  <div class="footer__element footer__copyright">
    <div class="footer__content">Copyright @ 1994 - 2023 MTG Chronicle. All Rights Reserved.</div>
  </div>
  <div class="footer__element footer__buildtool">
    <div class="footer__content ">
      <div>Powered by Angular<mat-icon svgIcon="angular-solid" class="footer__shield"></mat-icon>
      </div>
      <div>Built and Hosted by <a class="footer__page" href="" target="_blank">GitHub Pages</a>
      </div>
    </div>
  </div>
</footer>