:host {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 360px;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

    .banner__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner__caption {
        position: absolute;

        top: 60%;
        padding: 16px 32px;
        background-color: #993333;
    }

    .banner__caption--left {
        left: 0;
    }

    .banner__caption--right {
        right: 0;
    }
}



:host.viewsize--small {
    height: 240px;

    .banner__caption--centered {
        z-index: 1;
    }
}