:host {
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}