<a mat-icon-button href="https://facebook.com/mtg.chronicle" target="_blank" class="social__button">
    <img class="social__icon facebook__logo" src="assets/images/f_logo_RGB-White_58.png" />
</a>
<a mat-icon-button href="https://twitter.com/mtg_chronicle" target="_blank" class="social__button">
    <img class="social__icon twitter__logo" src="assets/images/twitter-white.svg" />
</a>
<a mat-icon-button href="https://github.com/mtg-chronicle" target="_blank" class="social__button">
    <img class="social__icon github__logo" src="assets/images/octocat-light_32px.png" />
</a>
<a mat-icon-button href="mailto:mtg-chronicle@googlegroups.com" class="social__button">
    <mat-icon class="social__icon">mail</mat-icon>
</a>